    <div class="container-fluid">
            <div class="row">
                    
                    <div id='new_product'>
                        <p>Новая операция:</p>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row" >
                                    <div class="col-xs-12">
                                        <div>
                                            <p>Название операции</p>
                                        </div>
                                        
                                        <div class="form-group has-success">     
                                            <input type="text" value="" class="form-control" #nameOfOperation/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row" >
                                    <div class="col-xs-12">
                                        <div>
                                            <p>Измнение баланса</p>
                                        </div>
                                        
                                        <div class="form-group has-success">     
                                            <input type="text" value="" class="form-control" #changeOfBalance/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-sm-6">
                        <div class="card" (click)='addNewOperation(nameOfOperation, changeOfBalance)'>
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-arrow-circle-up"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div>
                                            <p>Добавить товар</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
        <div class="row">
            
            <div class="col-lg-12 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div>
                                    <p>Расходы и доходы: </p>
                                </div>
                                <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th *ngFor="let cell of cashboxTable.headerRow">{{ cell }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of cashboxTable.dataRows" #name>
                                                <ng-container *ngIf="row[3] > 0">
                                                    <td class="table-success" *ngFor="let cell of row">{{cell}}</td>
                                                </ng-container>
                                                <ng-container *ngIf="row[3] <= 0">
                                                    <td class="table-danger" *ngFor="let cell of row">{{cell}}</td>
                                                </ng-container>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>Доходы: {{income}} р. | Расходы: {{expense}} р. | Прибыль: {{income - expense}} р.</p>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
