<div class="container-fluid">
    <div class="row">
        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Самые продаваемые товары</h4>        
                    </div>
                    
                        <ngx-charts-advanced-pie-chart
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="data"
                        [gradient]="gradient"
                        (select)="onSelect($event)">
                        </ngx-charts-advanced-pie-chart>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    
                    <div class="header">
                        <h4 class="title">Статистика продаж товаров</h4>
                        
                    </div>
                    <div class="content">
                        <div id="chartHours" class="ct-chart"></div>
                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i> Покупатели
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
