
<div class="container-fluid">
    <div class="row">
        <form [formGroup]="newProductForm">
            <div id='new_product'>
                <p>Новый товар:</p>
            </div>
            <div class="col-lg-3 col-sm-6" *ngFor="let elem of addFormInfo; let i = index">
                <div class="card">
                    <div class="content">
                        <div class="row" >
                            <div class="col-xs-12">
                                <div>
                                    <p>{{elem.name}}</p>
                                </div>
                                <div class="form-group has-success">     
                                    <input type="{{addFieldType(i)}}" value="" class="form-control" formControlName="{{elem.controlName}}"/>
                                </div>
                                <div *ngIf="isControlInvalid(newProductForm,elem.controlName)" class="card table-danger"> 
                                    <p>{{elem.wrongMes}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               
            <div class="col-lg-3 col-sm-6">
                <div class="card" (click)='addNewProduct()'>
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-arrow-circle-up"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div>
                                    <p>Добавить товар</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <form [formGroup]="changeProductForm">
            <div id='new_product'>
                <p>Изменить товар:</p>
            </div>
            <div class="col-lg-3 col-sm-6" *ngFor="let elem of changeFormInfo">
                <div class="card">
                    <div class="content">
                        <div class="row" >
                            <div class="col-xs-12">
                                <div>
                                    <p>{{elem.name}}</p>
                                </div>
                                <div class="form-group has-success">     
                                    <input type="number" value="" class="form-control" formControlName="{{elem.controlName}}"/>
                                </div>
                                <div *ngIf="isControlInvalid(changeProductForm,elem.controlName)" class="card table-danger"> 
                                    <p>{{elem.wrongMes}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card" (click)='changeProduct()'>
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-pencil-alt"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div>
                                    <p>Изменить товар</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id='new_product'>
        <p>Склад:</p>
    </div>
    <div class="card">
        <div class="content table-responsive">
            <table datatable class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let cell of storageTable.headerRow">{{ cell }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of storageTable.dataRows; let i = index">
                        <ng-container *ngIf="row.id">
                                <td >{{row.id}}</td>
                                <td >{{row.name}}</td>
                                <td >{{row.price}}</td>
                                <td >{{row.amount}}</td>
                                <td > <button class="btn btn-danger" (click)='deleteProduct(i)'>Удалить</button></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
