<div class="container-fluid">

    <div class="row">
        
        <div class="col-lg-12 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                            <div class="col-xs-12">
                                <div>
                                    <p>Итоговая сумма заказа: {{sumOfOrder}} руб.</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-sm-6" *ngFor="let product of products">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Артикул: </label>
                            <label #artikul>{{product[0]}}</label>
                            <div class="text-center" #name>
                                <h3 class="bg-success">{{product[1]}}</h3>
                                <label> Остаток:</label>
                                <label>{{product[3]}}</label>
                                <label>| Цена:</label>
                                <label>{{product[2]}}</label>
                                <label> р.</label>
                            
                                <div>
                                    <button class="btn btn-danger" (click)='minusProduct(artikul)'>Убрать</button>
                                    <button class="btn btn-success" (click)='plusProduct(artikul)'>Добавить</button>
                                </div> 
                             </div>                           
                         </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    
    </div>

    <div class="card">
            <div class="content">
                <h3>Заказ: </h3>
            </div>


            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <tbody>
                        <tr *ngFor="let row of productsInOrder; let i = index">
                            <td>{{ products[i][1] }}</td>
                            <td>{{ row }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

</div>
