    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-sm-6" *ngFor="let menuItem of menuItems" routerLinkActive="active">
                <div class="card" >
                    <a [routerLink]="[menuItem.path]">
                        <div class="content">
                            <div class="row">
                                    <div class="col-xs-5">
                                        <div class="{{menuItem.iconClass}}">
                                            <i class="{{menuItem.icon}}"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p class='text-dark'>{{menuItem.title}}</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Статистика продаж</h4>
                        <p class="category">последние 24 часа</p>
                    </div>
                    <div class="content">
                        <div id="chartHours" class="ct-chart"></div>
                        <div class="footer">
                            <div class="chart-legend">
                                <i class="fa fa-circle text-info"></i> Посетители
                                <i class="fa fa-circle text-warning"></i> Купившие 1-2 товара
                                <i class="fa fa-circle text-danger"></i> Купившие 3+ товаров
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> Обновлено только что
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
