/* global styles */
.table-success {
    color:#000;
    background-color: #ccffcc;
}

.table-danger {
    color:#000;
    background-color:#ffd1d1;
}

#new_product {
    margin-left: 25px;
}

.text-dark {
    color: #000;
}

#oddMoney {
    width : 60px;
    text-align: right;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}